{% extends 'base.html' %}

{% block content %}

<h5>About Palettable</h5>
<article><i>Makeup personalized for the socially conscious</i></article>
<br />
<article>Big makeup brands like Sephora offer thousands of beauty products to their customers. It can often be difficult for a customer to refine their search to return products that align with their moral preferences. Palettable is created with the socially conscious consumer in mind.Users are empowered to shop their favorite looks from a curated collection of eco-friendly, vegan, and cruelty-free products.

With a personal account, users can save products they love, quickly purchase items, and build out full face looks with their own “glam-board”.</article>

{% endblock %}