{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://deciem.com/dw/image/v2/BFKJ_PRD/on/demandware.static/-/Sites-deciem-master/default/dw0f7cef26/Images/products/The%20Ordinary/Colours/rdn-serum-foundation-31-y-30ml.png?sw=900&sh=900&sm=fit">
        </div>
        <div class="card-action">
          <a href="/products/Vegan">Vegan</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.shopify.com/s/files/1/1338/0845/products/Los-Feliz-Cap-Off.jpg?v=1639603831">
        </div>
        <div class="card-action">
          <a href="/products/cruelty-free">Cruelty-Free</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.shopify.com/s/files/1/1073/6890/products/sunkissed_1199x.jpg?v=1606765635">
        </div>
        <div class="card-action">
          <a href="/products/natural"> Natural</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}