{% extends 'base.html' %}

{% block content %}
<!-- <a href="{{request.META.HTTP_REFERER}}" class="back">Go Back</a> -->
<h5>{{ product.product_name }}</h5>
<br />
<div class="row">
  <div class="col s6">
    <img src="{{product.image_link}}" width="40%" alt="{{product_name}}" style="border-radius:10px">
  </div>
      <div class="col s6">
        <li style="list-style-type: none;"> {{product.brand}}</li>
        <li style="list-style-type: none;">$ {{product.price}}</li>
        <li style="list-style-type: none;">{{product.product_description}}</li>
        <br />
        <a href="{{product.website_link}}" class="btn-floating waves-effect waves-light deep-orange lighten-3"><i class="small material-icons">shopping_cart</i></a>
        {% if user.is_authenticated %}
        <a href="{% url 'favorite_add' product.id user.id %}" class="btn-floating waves-effect waves-light deep-orange lighten-3" style="align-content:right !important"><i class="small material-icons">favorite_border</i></a>
        {% endif %}
        <br />
        <br />
        <article> More Details:</article>
        <p>Colors:
        {% for color in colors %}
        <span class="dot" style="background-color:{{ color.hex_value.lower }}"></span>
        {% endfor %}
        </p>
        <li style="list-style-type: none;">Product type: {{product.product_type}}</li>
        <li style="list-style-type: none;">Product Category: {{product.tags}}</li>
  </div>
</div>
{% endblock %}